#header{
    height: 32px;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    color: #999999;
}
#header a{
    color: #999999;
    display: inline-block;
    padding: 0 10px;
    height: 100%;
}
#header .login-info{
    float: left;
}
#header .quick-menu{
    position: absolute;
    top: 0;
    right: 0;

}
#header .quick-menu>li{
    float: left;
}
#header .triangle::after{
    content: '';
    width: 0;
    height: 0;
    border: 3px solid;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    right: 6px;
    top: 14px;
    transform-origin: 3px 1.5px;
    transition: none;
}
#header .mini-menu:hover::after{
    transform: rotate(180deg);
    transition: transform .5s ease;
}
#header .separator{
    margin-left: 10px;
    position: relative;
    top: 9px;
    height: 14px;
    border-left: 1px solid #cccccc;
}
#header .iconfont{
    font-size: 13px;
    color: #ff0000;
}
#header .menu-hd:hover{
    color: #ff0033;
}
#header .mini-menu{
    position: relative;
    padding-right: 4px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #f2f2f2;
}
#header .mini-menu:hover{
    background: #ffffff;
    border-color: #e5e5e5;
}
#header .mini-menu:hover>a{
    color: #ff0033;
}
#header .mini-menu a:hover{
    color: #ff0033;
    text-decoration: underline;
}

#header .menu-bd{
    position: absolute;
    border: 1px solid #e5e5e5;
    border-top: 0;
    left: -1px;
    padding: 8px 10px;
    background: #ffffff;
    display: none;
}
#header .menu-bd a{
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}
#header .mini-menu:hover .menu-bd{
    display: block;
}
#header .menu-1{
    width: 72px;
}
#header .menu-2{
    width: 62px;
}
#header .menu-3{
    width: 122px;
}
#header .menu-3 p{
    text-align: left;
    float: left;
    height: 25px;
    width: 122px;
    line-height: 25px;
}
#header .menu-3 .sitemap{
    float: left;
    width: 48px;
    height: 20px;
    text-align: left;
}
#header .menu-3 .sitemap-left{
    margin-right: 20px;
}
#header .menu-3 .sep{
    float: left;
    width: 122px;
    border-bottom: 1px dotted #827777;
}














