#header{
    height: 32px;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    color: #999999;
}
#header a{
    color: #999999;
    padding: 0 10px;
    height: 100%;
}
#header .login:hover{
    color: #ff0036;
}
#header .register:hover{
    color: #ff0036;
}
#header .login-info{
    float: left;
}
#header .quick-menu{
    position: absolute;
    top: 0;
    right: 0;

}
#header .quick-menu>li{
    float: left;
}
#header .triangle::after{
    content: '';
    width: 0;
    height: 0;
    border: 3px solid;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    right: 6px;
    top: 14px;
    transform-origin: 3px 1.5px;
    transition: none;
}
#header .mini-menu:hover::after{
    transform: rotate(180deg);
    transition: transform .5s ease;
}
#header .separator{
    margin-left: 10px;
    position: relative;
    top: 9px;
    height: 14px;
    border-left: 1px solid #cccccc;
}
#header .iconfont{
    font-size: 13px;
    color: #ff0000;
}
#header .menu-hd:hover{
    color: #ff0033;
}
#header .mini-menu{
    position: relative;
    padding-right: 4px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #f2f2f2;
}
#header .mini-menu:hover{
    background: #ffffff;
    border-color: #e5e5e5;
}
#header .mini-menu:hover>a{
    color: #ff0033;
}
#header .mini-menu a:hover{
    color: #ff0033;
    text-decoration: underline;
}

#header .menu-bd{
    position: absolute;
    z-index: 999;
    border: 1px solid #e5e5e5;
    border-top: 0;
    left: -1px;
    padding: 8px 10px;
    background: #ffffff;
    display: none;
}
#header .menu-bd a{
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}
#header .mini-menu:hover .menu-bd{
    display: block;
}
#header .menu-1{
    width: 72px;
}
#header .menu-2{
    width: 62px;
}
#header .menu-3{
    width: 122px;
}
#header .menu-3 p{
    text-align: left;
    float: left;
    height: 25px;
    width: 122px;
    line-height: 25px;
}
#header .menu-3 .sitemap{
    float: left;
    width: 48px;
    height: 20px;
    text-align: left;
}
#header .menu-3 .sitemap-left{
    margin-right: 20px;
}
#header .menu-3 .sep{
    float: left;
    width: 122px;
    border-bottom: 1px dotted #827777;
}
#header .menu-4{
    position: absolute;
    left: -1085.5px;
    width: 1173px;
    /*width: 1170px;*/
    padding: 25px 0;
    display: none;
}
#header .menu-4 .site-cont{
    padding-left: 30px;
    float: left;
}
#header .menu-4 .site-cont-center{
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
}
#header .menu-4 p{
    text-align: left;
    color: #666666;
    font-size: 16px;
    font-weight: 100;
}
#header .menu-4 .site-hot p{
    color: #f56a00;
}
#header .menu-4 .site-hot a:hover{
    color: #f56a00;
}
#header .menu-4 .site-market p{
    color: #2263d4;
}
#header .menu-4 .site-market a:hover{
    color: #2263d4;
}
#header .menu-4 .site-list li{
    float: left;
    width: 90px;
    padding: 6px 0;
    text-align: left;
}
#header .menu-4 .site-list a{
    width: 48px;
    height: 16px;
    color: #666666;
}
#header .menu-4 .site-list-five a{
    width: 57px;
}
.header-extra{
    height: 135px;
}
.header-extra div{
    float: left;
}
.header-extra .tmall-logo{
    width: 290px;
    height: 130px;
    margin: 1px -25px 0 -45px;
}
#mall-search{
    position: relative;
    left: 55px;
    padding-top: 38px;
    float: left;
}
#mall-search .mall-search-form{
    width: 625px;
    border-width: 1px 0 1px 1px;
    border: solid #ff0036;
    height: 36px;
    clear: both;
    background: #ffffff;
    position: relative;
}
#mall-search #mq{
    width: 483px;
    height: 26px;
    font: 16px /22px Arial;
    border: none;
    background: 0 0;
    color: #000000;
    margin: 0;
    outline: 0;
    padding: 5px 3px 5px 5px;

}
#mall-search .s-combobox-placeholder{
    visibility: visible;
    color: rgb(102, 102, 102);
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 8px;
    top: 0;
}
#mall-search button{
    width: 132px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #fff;
    background-color: #FF0036;
    border: none;
}
#mall-search .hot-query{
    height: 24px;
    font-size: 14px;
    padding: 4px 0 0;

}
#mall-search .hot-query li{
    display: inline-block;
    border-left: 1px solid #cccccc;
    line-height: 1.1;
    padding: 0 12px;
}
#mall-search .hot-query-highlight a{
    color: #ff0036;
}
.hot-query li a{
    color: #999999;
}
#mall-search .hot-query .hot-query-first{
    padding-left: 0;
    border: 0;
}
#inner div{
    height: 36px;
    margin-left: 200px;
}
#inner img{
    margin-top: 2px;
    width: 100px;
}
#inner a{
    float: left;
    height: 35px;
    color: #333333;
    line-height: 35px;
    padding: 0 8px;
}
#inner a:hover{
    color: #ff0036;
}
#content .background-bg{
    overflow: hidden;
    height: 500px;
    background: #eeedf2;
}
#content .background{
    position: relative;
    
}
#content .background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
}
#content .category-con{
    position: absolute;
    top: 0;
}





















